
/* TABLET */

@media screen and (min-width: 576px) {
    body {
     background-color: salmon;
    }
 }
 @media  screen and (min-width: 992px ){
    body {
     background-color: violet;
    }
     
    .container {
         width: 80%;
         height: 90%;
         margin: auto;
         background-color: aqua;
 }
}